.projects__container {
    width: min(100% - 20rem);
    line-height: 1.8em;
    background-color: #0d0b14;
    z-index: 2000;
}

.tv__container {
    display: flex;
    justify-content: center;
    align-content: center;
    align-items: center;
}

.project__container {
    display: grid;
    grid-template-columns: 1fr 1fr;
}

.project__text {
    grid-column: 1;
    grid-row: 1;
    width: 100%;
}

.laptop__container {
    grid-column: 1;
    grid-row: 1;
    width: 70rem;
    height: auto;
    position: relative;
    display: flex;
    align-items: center;
    align-content: center;
    justify-content: center;
    object-fit: contain;
}

.project__video {
    width: 50%;
}

.laptop__image {
    /* position: absolute; */
    position: relative;
    width: 65rem;
    height: auto;
}

.veggieBox__video {
    position: absolute;
    width: 34em;
    height: 29.4em;
    bottom: 1.3em;
    left: 17em;
    border: 15px solid #0d0b14;
    border-radius: 0.55rem;
    object-fit: cover;
}

.video-overlay {
    position: absolute;
    width: 34.7em;
    height: 30em;
    bottom: 2em;
    left: 17.5em;
    border-radius: 0.55rem;
    /* background: radial-gradient(circle at center, transparent, rgba(0, 0, 0, 0.654) 80%);*/
    box-shadow: -8px -2px 86px 3px rgba(0, 0, 0, 0.94) inset;
    -webkit-box-shadow: -8px -2px 86px 3px rgba(0, 0, 0, 0.94) inset;
    -moz-box-shadow: -8px -2px 86px 3px rgba(0, 0, 0, 0.94) inset;
    pointer-events: none;
}

.devices__container {
    width: 60%;
    height: auto;
    position: relative;
}

.tv-btn__container {
    position: absolute;
    width: 9rem;
    height: 15rem;
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    align-content: center;
    right: 5.5rem;
}

.btn-candy {
    position: absolute;
    width: 7rem;
    height: 2rem;
    border-radius: 0.8rem;
    border: 0;
    background-color: #ff26d7;
    box-shadow: inset 0px 0px 5px 7px #ff0eb3;
    background: linear-gradient(#ff26d7, #ba1c9d);
    cursor: pointer;
    color: #0d0b14;
    font-weight: 600;
}

.btn-candy:hover {
    border-radius: 0.8rem;
    background: #ff26d7;
    box-shadow: inset 6px 6px 20px #ba1c9d,
        inset -6px -6px 20px #ff30ff;
}

.btn-candy--low {
    top: 13.6rem;
    /* rotate: 30deg; */
}

.btn-project {
    position: absolute;
    width: 8rem;
    height: 1.2rem;
    border-radius: 0.3rem;
    border: 0;
    background-color: #ff26d7;
    box-shadow: inset 0px 0px 5px 7px #ff0eb3;
    background: linear-gradient(#ff26d7, #ba1c9d);
    cursor: pointer;
    color: #0d0b14;
    font-weight: 600;
    font-size: 0.7rem;
}

.btn-project:hover {
    border-radius: 0.8rem;
    background: #ff26d7;
    box-shadow: inset 6px 6px 20px #ba1c9d,
        inset -6px -6px 20px #ff30ff;
}

.btn-project {
    top: 12.8rem;
    /* rotate: 30deg; */
}

.tv-btn {
    background-color: transparent;
    border: 0;
}

.tv-btn__image {
    width: 8rem;
    height: 8rem;
    margin: 0;
    border: 0;
    padding: 0;
}

.btn-next:hover {
    border-radius: 50%;
    background: #ff26d7;
    box-shadow: inset 6px 6px 20px #ba1c9d,
        inset -6px -6px 20px #ff30ff;
}

.btn-next--top {
    right: 2rem;
    top: 20.6rem;
}

.btn-next--btn {
    height: 5rem;
}



@media (max-width: 390px) {

    .projects__container {
        width: min(50% - 2rem);
        line-height: 1.8em;
        background-color: #0d0b14;
        z-index: 2000;
    }

    .laptop__container {
        grid-column: 1;
        grid-row: 1;
        width: 20rem;
        height: auto;
        position: relative;
        display: flex;
        align-items: center;
        align-content: center;
        justify-content: center;
        object-fit: contain;
    }

    .laptop__image {
        /* position: absolute; */
        position: relative;
        width: 25rem;
        height: auto;
    }


    .veggieBox__video {
        position: absolute;
        width: 13em;
        height: 11.4em;
        bottom: 0.6em;
        left: 3.2em;
        border: 5px solid #0d0b14;
        border-radius: 0.55rem;
        object-fit: cover;
    }

    .video-overlay {
        position: absolute;
        width: 13.3em;
        height: 12em;
        bottom: 0.6em;
        left: 3.2em;
        border-radius: 0.55rem;
        /* background: radial-gradient(circle at center, transparent, rgba(0, 0, 0, 0.654) 80%);*/
        box-shadow: -8px -2px 86px 3px rgba(0, 0, 0, 0.94) inset;
        -webkit-box-shadow: -8px -2px 86px 3px rgba(0, 0, 0, 0.94) inset;
        -moz-box-shadow: -8px -2px 86px 3px rgba(0, 0, 0, 0.94) inset;
        pointer-events: none;
    }

    .devices__container {
        width: 60%;
        height: auto;
        position: relative;
    }

    .tv-btn__container {
        right: -4.1rem;
    }

    .tv-btn__image {
        width: 3.2rem;
        height: 3.2rem;
        margin: 0;
        border: 0;
        padding: 0;
        right: 0rem;
    }

    .btn-next:hover {
        border-radius: 50%;
        background: #ff26d7;
        box-shadow: inset 6px 6px 20px #ba1c9d,
            inset -6px -6px 20px #ff30ff;
    }



    .btn-project {
        position: absolute;
        width: 3rem;
        height: 0.8rem;
        border-radius: 0.3rem;
        border: 0;
        background-color: #ff26d7;
        box-shadow: inset 0px 0px 5px 7px #ff0eb3;
        background: linear-gradient(#ff26d7, #ba1c9d);
        cursor: pointer;
        color: #0d0b14;
        font-weight: 600;
        font-size: 0.3rem;
    }

    .btn-project:hover {
        border-radius: 0.8rem;
        background: #ff26d7;
        box-shadow: inset 6px 6px 20px #ba1c9d,
            inset -6px -6px 20px #ff30ff;
    }

    .btn-project {
        top: 9.8rem;
        /* rotate: 30deg; */
    }
}