/* @media (min-width: 300px) { ... }
@media (min-width: 576px) { ... }
@media (min-width: 768px) { ... }
@media (min-width: 992px) { ... }
@media (min-width: 1200px) { ... }
@media (min-width: 1400px) { ... } */

.home__wave {
    /* display: flex;
    flex-direction: row;
    align-content: center;
    justify-content: center;
    align-items: center; */
    /* height: 30rem; */
    width: 250%;
}

@media (min-width: 1200px) {
    .home__wave {
        width: 100%;
    }
}

.gradientStop {
    /* background-color: #fead56; */
    animation: bodyColor 30s linear infinite;
}

@keyframes bodyColor {
    0% {
        stopColor: #fead56;
    }

    15% {
        stopColor: #70bd40;
    }

    30% {
        stopColor: #47eaff;
    }

    45% {
        stopColor: #8e57e7;
    }

    60% {
        stopColor: #c652e3;
    }

    75% {
        stopColor: #f84e69;
    }

    90% {
        stopColor: #ff6347;
    }

    100% {
        stopColor: #fead56;
    }
}