.particles__canvas {
    width: 100vw;
    height: 100vh;
    overflow: hidden;
    padding-top: 3rem;
}

.fish {
    width: 5rem;
    height: auto;
}


.particles__canvas img:nth-child(1) {
    position: absolute;
    z-index: 1500;
    animation: swim 40s cubic-bezier(0.9, 1, 0.3, 0.75) 0s infinite normal;
}

@keyframes swim {
    0% {
        transform: translate(0vw);
        -webkit-transform: translate(0vw);
        -moz-transform: translate(0vw);
        -ms-transform: translate(0vw);
        -o-transform: translate(0vw);
    }

    10% {
        transform: translate(20vw, -125px);
        -webkit-transform: translate(20vw, -125px);
        -moz-transform: translate(20vw, -125px);
        -ms-transform: translate(20vw, -125px);
        -o-transform: translate(20vw, -125px);
    }

    20% {
        transform: translate(40vw, -45px) rotateZ(22deg);
        -webkit-transform: translate(40vw, -45px) rotateZ(22deg);
        -moz-transform: translate(40vw, -45px) rotateZ(22deg);
        -ms-transform: translate(40vw, -45px) rotateZ(22deg);
        -o-transform: translate(40vw, -45px) rotateZ(22deg);
    }

    30% {
        transform: translate(60vw, -250px);
        -webkit-transform: translate(60vw, -250px);
        -moz-transform: translate(60vw, -250px);
        -ms-transform: translate(60vw, -250px);
        -o-transform: translate(60vw, -250px);
    }

    40% {
        transform: translate(80vw, -80px) rotateZ(22deg);
        -webkit-transform: translate(80vw, -80px) rotateZ(22deg);
        -moz-transform: translate(80vw, -80px) rotateZ(22deg);
        -ms-transform: translate(80vw, -80px) rotateZ(22deg);
        -o-transform: translate(80vw, -80px) rotateZ(22deg);
    }

    50% {
        transform: translate(100vw, -145px);
        -webkit-transform: translate(100vw, -145px);
        -moz-transform: translate(100vw, -145px);
        -ms-transform: translate(100vw, -145px);
        -o-transform: translate(100vw, -145px);
    }

    51% {
        transform: translate(100vw, -145px) rotateY(180deg);
        -webkit-transform: translate(100vw, -145px) rotateY(180deg);
        -moz-transform: translate(100vw, -145px) rotateY(180deg);
        -ms-transform: translate(100vw, -145px) rotateY(180deg);
        -o-transform: translate(100vw, -145px) rotateY(180deg);
    }

    60% {
        transform: translate(80vw, -80px) rotateY(180deg) rotateZ(22deg);
        -webkit-transform: translate(80vw, -80px) rotateY(180deg) rotateZ(22deg);
        -moz-transform: translate(80vw, -80px) rotateY(180deg) rotateZ(22deg);
        -ms-transform: translate(80vw, -80px) rotateY(180deg) rotateZ(22deg);
        -o-transform: translate(80vw, -80px) rotateY(180deg) rotateZ(22deg);
    }

    70% {
        transform: translate(60vw, -250px) rotateY(180deg);
        -webkit-transform: translate(60vw, -250px) rotateY(180deg);
        -moz-transform: translate(60vw, -250px) rotateY(180deg);
        -ms-transform: translate(60vw, -250px) rotateY(180deg);
        -o-transform: translate(60vw, -250px) rotateY(180deg);
    }

    80% {
        transform: translate(40vw, -45px) rotateY(180deg) rotateZ(22deg);
        -webkit-transform: translate(40vw, -45px) rotateY(180deg) rotateZ(22deg);
        -moz-transform: translate(40vw, -45px) rotateY(180deg) rotateZ(22deg);
        -ms-transform: translate(40vw, -45px) rotateY(180deg) rotateZ(22deg);
        -o-transform: translate(40vw, -45px) rotateY(180deg) rotateZ(22deg);
    }

    90% {
        transform: translate(20vw, -125px) rotateY(180deg);
        -webkit-transform: translate(20vw, -125px) rotateY(180deg);
        -moz-transform: translate(20vw, -125px) rotateY(180deg);
        -ms-transform: translate(20vw, -125px) rotateY(180deg);
        -o-transform: translate(20vw, -125px) rotateY(180deg);
    }

    99% {
        transform: translate(0vw) rotateY(180deg) rotateZ(22deg);
        -webkit-transform: translate(0vw) rotateY(180deg) rotateZ(22deg);
        -moz-transform: translate(0vw) rotateY(180deg) rotateZ(22deg);
        -ms-transform: translate(0vw) rotateY(180deg) rotateZ(22deg);
        -o-transform: translate(0vw) rotateY(180deg) rotateZ(22deg);
    }

    100% {
        transform: translate(0vw);
        -webkit-transform: translate(0vw);
        -moz-transform: translate(0vw);
        -ms-transform: translate(0vw);
        -o-transform: translate(0vw);
    }
}

.particles__canvas img:nth-child(2) {
    position: absolute;
    right: 0;
    z-index: 1500;
    animation: swim2 40s cubic-bezier(0.9, 1, 0.3, 0.75) 0s infinite normal;
    transform-origin: 50% 50%;
    /* Set the transform origin to the center of the image */
}

@keyframes swim2 {
    0% {
        transform: translate(0vw) scaleX(1);
        -webkit-transform: translate(0vw) scaleX(1);
        -moz-transform: translate(0vw) scaleX(1);
        -ms-transform: translate(0vw) scaleX(1);
        -o-transform: translate(0vw) scaleX(1);
    }

    1% {
        transform: translate(0vw) scaleX(1) rotateY(180deg) rotateZ(22deg);
        -webkit-transform: translate(0vw) scaleX(1) rotateY(180deg) rotateZ(22deg);
        -moz-transform: translate(0vw) scaleX(1) rotateY(180deg) rotateZ(22deg);
        -ms-transform: translate(0vw) scaleX(1) rotateY(180deg) rotateZ(22deg);
        -o-transform: translate(0vw) scaleX(1) rotateY(180deg) rotateZ(22deg);
    }

    10% {
        transform: translate(-20vw, -125px) scaleX(1) rotateY(180deg);
        -webkit-transform: translate(-20vw, -125px) scaleX(1) rotateY(180deg);
        -moz-transform: translate(-20vw, -125px) scaleX(1) rotateY(180deg);
        -ms-transform: translate(-20vw, -125px) scaleX(1) rotateY(180deg);
        -o-transform: translate(-20vw, -125px) scaleX(1) rotateY(180deg);
    }

    20% {
        transform: translate(-40vw, -45px) scaleX(1) rotateY(180deg) rotateZ(22deg);
        -webkit-transform: translate(-40vw, -45px) scaleX(1) rotateY(180deg) rotateZ(22deg);
        -moz-transform: translate(-40vw, -45px) scaleX(1) rotateY(180deg) rotateZ(22deg);
        -ms-transform: translate(-40vw, -45px) scaleX(1) rotateY(180deg) rotateZ(22deg);
        -o-transform: translate(-40vw, -45px) scaleX(1) rotateY(180deg) rotateZ(22deg);
    }

    30% {
        transform: translate(-60vw, -250px) scaleX(1) rotateY(180deg);
        -webkit-transform: translate(-60vw, -250px) scaleX(1) rotateY(180deg);
        -moz-transform: translate(-60vw, -250px) scaleX(1) rotateY(180deg);
        -ms-transform: translate(-60vw, -250px) scaleX(1) rotateY(180deg);
        -o-transform: translate(-60vw, -250px) scaleX(1) rotateY(180deg);
    }

    40% {
        transform: translate(-80vw, -80px) scaleX(1) rotateY(180deg) rotateZ(22deg);
        -webkit-transform: translate(-80vw, -80px) scaleX(1) rotateY(180deg) rotateZ(22deg);
        -moz-transform: translate(-80vw, -80px) scaleX(1) rotateY(180deg) rotateZ(22deg);
        -ms-transform: translate(-80vw, -80px) scaleX(1) rotateY(180deg) rotateZ(22deg);
        -o-transform: translate(-80vw, -80px) scaleX(1) rotateY(180deg) rotateZ(22deg);
    }

    50% {
        transform: translate(-100vw, -145px) scaleX(1);
        -webkit-transform: translate(-100vw, -145px) scaleX(1);
        -moz-transform: translate(-100vw, -145px) scaleX(1);
        -ms-transform: translate(-100vw, -145px) scaleX(1);
        -o-transform: translate(-100vw, -145px) scaleX(1);
    }

    51% {
        transform: translate(-100vw, -145px) scaleX(1) rotateY(180deg);
        -webkit-transform: translate(-100vw, -145px) scaleX(1) rotateY(180deg);
        -moz-transform: translate(-100vw, -145px) scaleX(1) rotateY(180deg);
        -ms-transform: translate(-100vw, -145px) scaleX(1) rotateY(180deg);
        -o-transform: translate(-100vw, -145px) scaleX(1) rotateY(180deg);
    }

    60% {
        transform: translate(-80vw, -80px) scaleX(-1) rotateY(180deg) rotateZ(22deg);
        -webkit-transform: translate(-80vw, -80px) scaleX(-1) rotateY(180deg) rotateZ(22deg);
        -moz-transform: translate(-80vw, -80px) scaleX(-1) rotateY(180deg) rotateZ(22deg);
        -ms-transform: translate(-80vw, -80px) scaleX(-1) rotateY(180deg) rotateZ(22deg);
        -o-transform: translate(-80vw, -80px) scaleX(-1) rotateY(180deg) rotateZ(22deg);
    }

    70% {
        transform: translate(-60vw, -250px) scaleX(-1) rotateY(180deg);
        -webkit-transform: translate(-60vw, -250px) scaleX(-1) rotateY(180deg);
        -moz-transform: translate(-60vw, -250px) scaleX(-1) rotateY(180deg);
        -ms-transform: translate(-60vw, -250px) scaleX(-1) rotateY(180deg);
        -o-transform: translate(-60vw, -250px) scaleX(-1) rotateY(180deg);
    }

    80% {
        transform: translate(-40vw, -45px) scaleX(-1) rotateY(180deg) rotateZ(22deg);
        -webkit-transform: translate(-40vw, -45px) scaleX(-1) rotateY(180deg) rotateZ(22deg);
        -moz-transform: translate(-40vw, -45px) scaleX(-1) rotateY(180deg) rotateZ(22deg);
        -ms-transform: translate(-40vw, -45px) scaleX(-1) rotateY(180deg) rotateZ(22deg);
        -o-transform: translate(-40vw, -45px) scaleX(-1) rotateY(180deg) rotateZ(22deg);
    }

    90% {
        transform: translate(-20vw, -125px) scaleX(-1) rotateY(180deg);
        -webkit-transform: translate(-20vw, -125px) scaleX(-1) rotateY(180deg);
        -moz-transform: translate(-20vw, -125px) scaleX(-1) rotateY(180deg);
        -ms-transform: translate(-20vw, -125px) scaleX(-1) rotateY(180deg);
        -o-transform: translate(-20vw, -125px) scaleX(-1) rotateY(180deg);
    }

    99% {
        transform: translate(0vw) scaleX(-1) rotateY(180deg) rotateZ(22deg);
        -webkit-transform: translate(0vw) scaleX(-1) rotateY(180deg) rotateZ(22deg);
        -moz-transform: translate(0vw) scaleX(-1) rotateY(180deg) rotateZ(22deg);
        -ms-transform: translate(0vw) scaleX(-1) rotateY(180deg) rotateZ(22deg);
        -o-transform: translate(0vw) scaleX(-1) rotateY(180deg) rotateZ(22deg);
    }

    100% {
        transform: translate(0vw) scaleX(1);
        -webkit-transform: translate(0vw) scaleX(1);
        -moz-transform: translate(0vw) scaleX(1);
        -ms-transform: translate(0vw) scaleX(1);
        -o-transform: translate(0vw) scaleX(1);
    }
}